mixin link(name, target)
	a.font-title.text-center(href=target class='hover:text-gray-900')= name

mixin current_link(name, target)
	a.font-title.text-center.underline(href=target class='hover:text-gray-900')= name


html.bg-rad-bg(lang="en-us")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title at redradrat's
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
		meta(name="description", content="Hi my name is Ralph Kühnert, and I'm a Software Engineer based in Austria. This is my personal page.")
		link(rel="stylesheet" href="https://use.typekit.net/gnm6dpz.css")
		link(rel="stylesheet", type="text/css", href="./css/main.css")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:wght@700&display=swap" rel="stylesheet")
		link(rel='icon' type='image/png' href='assets/favicon_32.png')
	body.font-title.mb-0.h-screen
		div.invisible.absolute.top-8.right-10.h-fit.w-fit.rounded-full(class="sm:visible")
			a(href="https://github.com/redradrat" target="_blank")
				img.max-h-36.rotate-3.drop-shadow-md(src="./assets/redradrat-round.png" class="md:max-h-40 lg:max-h-52")
		div.relative.text-base
			.flex.flex-col.h-full
				.mb-8.mt-8
					header.text-rad-black.font-light
						.flex.whitespace-nowrap.px-5.flex-row.justify-center
							block links
				mt-8.text-8xl.font-title.text-rad-green.font-semibold.text-center.pt-4(class="lg:text-9xl")
					p.pb-4 Ralph
					p Kühnert
				.grow.flex.flex-col.mt-8
					.mx-auto.mb-16.grow.font-body.font-light
						block page
					footer.mx-auto.mb-8
						.flex.flex-wrap.justify-center.whitespace-pre-wrap
							span.whitespace-nowrap © 2022 Ralph Kühnert
							span.whitespace-nowrap  with ❤️ from Vienna, Austria
		script(defer src='https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js')
		script(src='https://cdn.skypack.dev/pin/@hotwired/turbo@v7.1.0-V83RMQBlYCPK9CvTqQoL/mode=imports/optimized/@hotwired/turbo.js')

