html(lang="en-us")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title at redradrat's
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
		meta(name="description", content="Hi my name is Ralph Kühnert, and I'm a Software Engineer based in Austria. This is my personal page.")
		link(rel="stylesheet", type="text/css", href="./css/main.css")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:wght@700&display=swap" rel="stylesheet")
		link(rel='icon' type='image/png' href='assets/favicon_32.png')
	body.bg-rad-bg
		script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js' defer='')
		script(src='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.6.0/build/highlight.min.js')
		script(src='https://cdn.skypack.dev/@hotwired/turbo')
		script.
			hljs.highlightAll();
		div.relative
			.flex.h-screen.font-sans
				.flex-1.flex.flex-col
					include header.pug
					.max-w-4xl.flex.items-center.h-auto.flex-wrap.mx-auto.mt-12.px-4(class='lg:h-auto sm:px-8 md:mt-4')
						block page
					include footer.pug
